#application {
  #school .title {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }
  #role_selection{
  	margin-bottom: 20px;
  }
  .ui.radio.checkbox label{
    cursor: pointer;
  }
  .ui.checkbox label{
    cursor: pointer;
  	margin:10px;
  }
}
