.login {
  height: 100%;
  width: 100%;
  background-color: $alfarroba-brown;
  background: url('../assets/images/login-background.jpg') 100% center; 
  background-size: cover;
  .ui.segment.login--bg{
    background-color: $alfarroba-brown;
  }
  > .container {
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    > .content {
      max-width: 320px;
      margin: 0 auto;

      .logo {
        max-width: 135px;
        margin: .5rem auto 1rem auto;
        img {
          width: 100%;
        }
      }

      .button {
        color: black;
        text-transform: uppercase;
        border-radius: .7em;
        &.login {
          background: $alfarroba-green;
        }
        &.register {
          background: $alfarroba-orange
        }
      }

      .forgot {
        margin: .6em 0 0 0;
        text-align: center;
        a{
          color: black;
          font-weight: bold;
          text-decoration: underline;
          text-decoration-color: black;
          transition: opacity .3s ease-in-out;
          &:hover{
            opacity: .6;
          }
        }
      }
      
      .word{
        font-weight: bold;
        margin: .6em auto;
        text-align: center;
      }
    }
  }

}
